{% extends 'base/base.html' %}

{% block content %}

    <h1>{{ titulo }}</h1>
    {% if mensaje %}
        <p style="color: green; font-size: 20px;">{{ mensaje }}</p>
    {% endif %}
    <a href="{% url 'inventario:listado_proveedores' %}"><button style="margin-bottom: 10px;">Volver a listado de proveedores</button></a>
    <div class="form-container">
        {% if proveedor and proveedor.id %}
            <form method="POST" action="{% url 'inventario:guardar_proveedor' proveedor.id %}">
        {% else %}
            <form method="POST" action="{% url 'inventario:crear_proveedor' %}">
        {% endif %}
            {% csrf_token %}
            <label>{{ formulario.nombre.label }}:</label>
            {{ formulario.nombre }}
            <label>{{ formulario.contacto.label }}:</label>
            {{ formulario.contacto }}
            <label>{{ formulario.telefono.label }}:</label>
            {{ formulario.telefono }}
            <label>{{ formulario.email.label }}:</label>
            {{ formulario.email }}
            <label>{{ formulario.direccion.label }}:</label>
            {{ formulario.direccion }}
            <button type="submit">{{ boton_text }}</button>
        </form>
    
    </div>
    {% if proveedor and proveedor.id %}
        <div class="form-delete"> 
            <form method="post" action="{% url 'inventario:eliminar_proveedor' proveedor.id %}" onsubmit="return confirmarEliminacion();"> 
                {% csrf_token %} 
                <button type="submit" style="background-color:#b91c1c; color:white;">Eliminar proveedor</button> 
            </form> 
        </div>

        <script>
            function confirmarEliminacion() {
                return confirm('¿Seguro que quieres eliminar el producto {{ producto.nombre }}?');
            }
        </script>
    {% endif %}
    <br>

{% endblock %}