{% block header %}
<header style="background: #acffaf; padding: 1rem 0; box-shadow: 0 2px 4px rgba(0,0,0,0.05); box-shadow: 0 2px 12px rgba(0,0,0,0.08);">
	<div style="max-width: 1200px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between;">
		<div style="display: flex; align-items: center;">
			<img src="https://static.vecteezy.com/system/resources/thumbnails/006/470/430/small/modern-animal-pet-logo-template-free-vector.jpg" alt="Logo Veterinaria" style="height: 84px; margin-right: 1rem;">
			<h1 style="margin: 0; font-size: 2rem; font-weight: 700; font-size: 30px;">Veterinaria Vida Animal</h1>
		</div>
		<nav>
			<ul style="list-style: none; display: flex; gap: 1.5rem; margin: 0; padding: 0;">
				<li><a href="/" style="color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Inicio</button></a></li>
				<li><a href="/servicios/" style=" color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Facturación</button></a></li>
				<li><a href="/pets/" style="color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Mascotas</button></a></li>
				<li><a href="/inventario/" style="color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Productos</button></a></li>
				<li><a href="/citas/" style="color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Citas</button></a></li>
                <li><a href="/login/" style="color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Inicio de sesión</button></a></li>
				<li><a href="/contacto/" style="color: black; text-decoration: none; font-weight: 500; font-size: 20px;"><button style="background-color: rgb(20, 97, 5); color: white;">Contacto</button></a></li>

                
			</ul>
		</nav>
	</div>
</header>
{% endblock %}